#include "sweep.dtsi"

&right_encoder {
	status = "okay";
};

&pinctrl {
	/* configuration for i2c0 device, default state */
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 20)>,
			<NRF_PSEL(TWIM_SCL, 0, 17)>;
		};
	};
	
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 20)>,
			<NRF_PSEL(TWIM_SCL, 0, 17)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	
	clock-frequency = <400000>;
	
	glidepoint: glidepoint@2a{
		compatible = "cirque,pinnacle2";
		reg = <0x2a>;
		status = "okay";
		data-ready-gpios = <&gpio0 22 (GPIO_ACTIVE_HIGH)>;
		sensitivity = "2x";
		data-mode = "relative";
		primary-tap-enable;
		sleep-mode-enable;
		invert-y;
	};
};

&glidepoint_split {
	device = <&glidepoint>;
};

&kscan0 {
	col-gpios
	= <&none> // Col 6 (Dongle index)
	, <&none>
	, <&none>
	, <&none>
	, <&none>
	, <&none>
	, <&gpio1 13 GPIO_PULL_DOWN> // Col 6 (Corne Right Inner)
	, <&gpio1 15 GPIO_PULL_DOWN> // Col 7
	, <&gpio0 2 GPIO_PULL_DOWN>  // Col 8
	, <&gpio0 29 GPIO_PULL_DOWN> // Col 9
	, <&gpio0 31 GPIO_PULL_DOWN> // Col 10
	;
};
